.DiscountRoulette-container {
  padding: 20px 0;
  max-width: 660px;
  margin: 0 auto;
}

#wheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 70%;
  margin: 0 auto; 
}

.canvas {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
