.portfolio {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.portfolio h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.portfolio-item {
  margin: 0 10px;
}

.portfolio img,
.portfolio video {
  max-width: 100%;
  height: 200px;
  border: none;
}

.portfolio video {
  width: 100%;
  max-height: 400px;
}

@media (max-width: 768px) {
  .portfolio .slick-prev,
  .portfolio .slick-next {
    display: none;
  }
}
